:root {
    --primary: #44e9ff;
    --secondary: #497980;
    --tertiary: rgb(192, 246, 253);
    --grey: #333;

};

* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 2vw;
}

main {
    padding: 1vw 30vw 1vw 30vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/** generic styling for all buttons **/
.btn {
    color: white;
    border-radius: 10px;
    border: solid black 2px;
    padding: 6px;
    outline: none;
}

/** generic body text styling **/
.body-text {
    font-size: 18px;
    margin-bottom: 10px;
}

.view-high-scores {
    border: none;
    background-color: white;
    font-size: 15px;
    outline: none;
}

.title, .quizDescription {
    text-align: center;
}

.start {
    background-color: brown;
    color: burlywood;
    width: 100px;
    align-self: center;
}

.start:hover {
    background-color: blueviolet;
}

.question {
    color: rebeccapurple;
    margin-bottom: 10px;
    /**width: 30vw;**/
}

.quizBtn {
    display: flex;
    align-items: center;
    background-color: royalblue;
    border: salmon solid 2px;
    border-radius: 20px;
    height: 5vh;
    color: wheat;
    text-align: left;
    padding-left: 10px;
    margin: 5px;
    font-size: 18px;
    font-weight: lighter;
}

.quizBtn:hover {
    background-color: salmon;
}

.feedback-container {
    display: flex;
    justify-content: space-between;
    border-top: grey 2px solid;
    margin-top: 20px;
    padding: 3px;
    height: 60px;
}

.feedback {
    color: grey;
}

.next-button {
    background-color: red;
    display: none;
    height: 40px;
    width: 60px;
}

.next-button:hover {
    box-shadow: 0 0 5px black;
}

.results-title, .results {
    margin-bottom: 10px;
}

.initials-submit-btn {
    background-color: royalblue;
    margin-left: 5px;
    width: 60px;
}

.initials-submit-btn:hover {
    box-shadow: 0 0 5px black;
}

.highScores-title {
    margin-bottom: 10px;
}

.score {
    background-color: skyblue;
    font-size: 20PX;
}

.highScores-btn {
    margin-top: 10px;
    margin-right: 10px;
    background-color: royalblue;
}