/** establish main color scheme **/
:root {
    /** used for titles and questions **/
    --darkfont:#486353;
    /** currently not used **/
    --lightfont: #faf3dd;
    /** styles for all buttons but quiz responses **/
    --btnBackground:#698474;
    --btnBorder:#889e81;
    --btnFont:#e5e4cc;
    --btnHover:#889e81;
    --btnHoverShadow:#bac7a7;
    /** styles for all quiz responses **/
    --quizBtnBackground: #94b4a4;
    --quizBtnBorder: #94b4a4;
    --quizBtnFont: #486353;
    --quizbtnHover:#d2f5e3;
    --quizbtnHoverShadow:#486353;

    --correctAnswer: #799351;
    --wrongAnswer: #aa3a3a;

    --scoreTableBackground: #bac7a7;
};

* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 2vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    padding: 1vw 20vw 1vw 20vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/** generic styling for all buttons **/
.btn {
    color: white;
    border-radius: 10px;
    border: solid var(--btnBorder) 2px;
    padding: 10px 12px;
    outline: none;
    background-color: var(--btnBackground);
    color: var(--btnFont);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn:hover {
    background-color: var(--btnHover);
    box-shadow: 0 0 5px var(--btnHoverShadow);
}

/** generic body text styling **/
.body-text {
    font-size: 18px;
    color: var(--darkfont);
}

/** start header styles **/
.view-high-scores {
    border: none;
    background-color: white;
    font-size: 15px;
    outline: none;
}

.timer {
    font-size: 17px;
}

/** end header styles **/

.title, .quizDescription {
    text-align: center;
}

.title, .results-title, .highScores-title {
    font-size: 40px;
    color: var(--darkfont);
    
}

.start {
    align-self: center;
    margin-top: 10px;
    font-size: 17px;
}

.question {
    color: var(--darkfont);
    margin-bottom: 10px;
    margin-left: 10%;
}

.quizBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 5vh;
    margin: 5px;
    font-size: 18px;
    font-weight: lighter;
    width: 70%;
    align-self: center;

    background-color: var(--quizBtnBackground);
    border: var(--quizBtnBorder) solid 2px;
    color: var(--quizBtnFont);
}

.quizBtn:hover {
    background-color: var(--quizbtnHover);
    box-shadow: 0 0 5px var(--quizbtnHoverShadow);
}

.feedback-container {
    display: flex;
    justify-content: space-between;
    border-top: grey 2px solid;
    margin-top: 20px;
    padding: 3px;
    height: 60px;
}

.feedback {
    color: grey;
}

.next-button {
    display: none;
    height: 40px;
    width: 60px;
}

.results-title, .results, .initials-input-form {
    margin-bottom: 10px;
    margin-left: 25%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.initials-submit-btn {
    margin-left: 7px;
    margin-top: 20px;
}

.highScores-title {
    margin-bottom: 10px;
}

.score {
    background-color: var(--scoreTableBackground);
    font-size: 20px;
    margin: 0;
}

.highScores-btn {
    margin-top: 10px;
    margin-right: 10px;
}